SESSION=
PREFIX=.
YOUR_NUMBER=254708252107
MODE=public
WARNINGS=3
YOUR_NAME=Gloh
ANTICALL=off
ANTIDELETE=on
AUTO_REACTION=off
AUTO_READ_STATUS=on
AUTO_LIKE=on
AUTO_READ_DM=off
HEROKU_API_KEY=
HEROKU_APP_NAME=
PRESENCE_DM=paused
PRESENCE_GROUP=paused
YOUR_LID=200665804583144
timezone=Nairobi/Kenya
ALIVE_URL=
